
<!-- Footer Elements -->
<footer class="d-flex flex-row-lg justify-content-around fixed-bottom my-footer">
  <!-- Social buttons -->
  <ul class="text-center">
    <li class="list-inline-item px-4">
      <a href="https://www.facebook.com/" class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-square"></i>
      </a>
    </li>
    <li class="list-inline-item px-4">
      <a href="https://twitter.com/login" class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter-square"></i>
      </a>
    </li>
    <li class="list-inline-item px-4">
      <a href="https://github.com/" class="btn-floating btn-github mx-1">
        <i class="fab fa-github-square"></i>
      </a>
    </li>
    <li class="list-inline-item px-4">
      <a href="https://plus.google.com/" class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-square"></i>
      </a>
    </li>
    <li class="list-inline-item px-4">
      <a href="https://www.linkedin.com/uas/login?_l=en" class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin"></i>
      </a>
    </li><br>
    <div class="d-inline-block pt-4">© 2018 Copyright: <a href="https://www.google.com/">CodeSnippets.com</a></div>
  </ul> 
</footer>



