<footer class="page-footer font-small special-color-dark pt-2">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/" class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/login" class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter-square"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://github.com/" class="btn-floating btn-github mx-1">
          <i class="fab fa-github-square"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://plus.google.com/" class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-square"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/uas/login?_l=en" class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin"></i>
        </a>
      </li><br>
      <div class="h-25 d-inline-block" style="width: 320px; color: rgba(220, 233, 235, 0.8);">© 2018 Copyright: <a href="https://www.google.com/">CodeSnippets.com</a></div>
    </ul>
  </div>
</footer>

