.my-footer {
  background-color: #000;
  color: rgba(220, 233, 235, 1);
  border-top: 1px solid rgba(220, 233, 235, 0.8);
  border-bottom: 1px solid rgba(220, 233, 235, 0.8);
}

.list-inline-item {
  font-size: 30px;
}

a {
  color: rgba(220, 233, 235, 0.8);
}

.d-inline-block {
  font-size: 14px;
  width: 320px;
  color: rgba(220, 233, 235, 0.8);

}
