<div class="img">
  <div class="container contact-form">
      <div class="contact-form">
          <h3>Snippet List</h3>
      </div>
      <div class="row">
        <div class="col-6">
      <input class="form-control mb-3" name="searchString" [(ngModel)]='searchString' type="text" id="filter" placeholder="Search by title">
    </div>
    <div class="col-6">
      <input class="form-control mb-3" name="filterString" [(ngModel)]='filterString' type="text" id="filters" placeholder="Search by programming language">
    </div>
      </div>
                      <table class="table table-striped table-dark">
                          <thead>
                              <tr>
                                  <th scope="col">Title</th>
                                  <th scope="col">Notes</th>
                                  <th scope="col">Language</th>
                                  <th scope="col">Author</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let data of dataList | sortByDate | filterr : 'title' : searchString | filterAndSort : 'programmL' : filterString | paginate: { itemsPerPage: 8, currentPage: p }">
                                  <td [routerLink]="['/test-data-details', data.uid]">{{data.title}}</td>
                                  <td [routerLink]="['/test-data-details', data.uid]">{{data.notes | slice: 0: 20}}...</td>
                                  <td [routerLink]="['/test-data-details', data.uid]">{{data.programmL}}</td>
                                  <td [routerLink]="['/test-data-details', data.uid]">{{data.author}}</td>
                              </tr>
                          </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
              </div>
              </div>

