.login-container {
  min-height: 700px;
  padding-top: 160px;
  width: 100%;
  display: block;
  margin:0 auto;
}

.login-container h2 {
  text-align: center;
  color: rgba(220, 233, 235, 1);
  padding-top: 20px;
}

.form-group {
padding : 5px 20px;
}

.login-design {
  /* background-color: rgba(220, 233, 235, 1); */
  background-color: #08110c;
  opacity: 0.92;
  border-radius: 10px;
  border: 1px solid rgba(220, 233, 235, 1);
}

.help-block {
  color: rgba(220, 233, 235, 1);
}

label {
  color: rgba(220, 233, 235, 1);
  font-weight: bold;
}

button {
  display: block;
  margin: 0 auto;
  color: rgba(220, 233, 235, 1);
}

.link {
padding-bottom: 20px;
padding-top: 20px;
text-align: center;
}
.link-reg {
display:flex;
justify-content: center;
}
.route-to-register {
padding: 0 10px 10px 10px;
color: rgba(220, 233, 235, 1);
margin-left: 13px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 15px;
text-align: center;
}
