.img {
  background: url("assets/img/adm-bg-image.jpg") center center repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  z-index: -1;
}

h4 {
    margin-top: 20vh;
    color: rgba(220, 233, 235, 1);
}

table.table-striped.table-dark {
    cursor: pointer;
}

.my-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 25vh;
}

tr > th {
    color: #4CAF50;
}
