<div class="img">
  <div class="container contact-form">
          <form #dataForm="ngForm">
                  <h3>Snippet Details</h3>
                  <div class="row">
                      <div class="col-md-6">
                          <label>Title</label>
                      <div class="form-group">
                          <input class="form-control" name="title" #title="ngModel" [(ngModel)]="data.title" disabled/>
                      </div>
                      <div class="form-group">
                          <label>Language</label>
                          <input class="form-control" name="programmL" #programmL="ngModel" [(ngModel)]="data.programmL" disabled>
                      </div>
                      <div class="form-group">
                          <label>Notes</label>
                          <textarea class="form-control" name="notes" #notes="ngModel" [(ngModel)]="data.notes"style="width: 100%; height: 135px;" disabled></textarea>
                      </div>
                      <div class="form-group">
                        <input class="navbar-brand" class="btn btn-success" value="Back" (click)='backClicked()'>
                    </div>
                      </div>
                      <div class="col-md-6">
                          <label>Code</label>
                      <div class="form-group">
                          <textarea class="form-control" name="code" #code="ngModel" [(ngModel)]="data.code" style="width: 120%; height: 393px;" disabled></textarea>
                      </div>
                      </div>

                  </div>
          </form>
      </div>
</div>
