<nav class="navbar navbar-expand-xl fixed-top navbar-light nav-style">
    
    <div ngbDropdown class="d-inline-block space">
      <button class="btn bg-light" id="dropdownBasic1" ngbDropdownToggle>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf="user && !(isBlocked | async)">
        <a class="dropdown-item" [routerLink]="['test-data']">Create Snippet</a>
        <a class="dropdown-item" [routerLink]="['test-data-list']">Snippets List</a>
        <a class="dropdown-item" [routerLink]="['my-snippets']">My Snippets</a>
        <div class="dropdown-divider"></div>
        <p class="text-left pl-2">Admin panel</p>
        <a *ngIf="user && isAdmin | async" class="dropdown-item" [routerLink]="['admin-panel']" >Update Users</a>
        <a *ngIf="user && isAdmin | async" class="dropdown-item" [routerLink]="['admin-snippets']">Update Snippets</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)='logOut()'>
          <i class="fas fa-sign-out-alt"></i>
          Logout</a>
      </div>
    </div>
    <a class="navbar-brand" routerLink="/my-snippets" ><img src="assets/img/logo.jpg" alt="logo"> </a>
    <ng-container *ngIf="signedIn | async">
        <a class="d-none d-md-block nav-link-1">Hello, {{ user.displayName }}</a>
    </ng-container>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul *ngIf="user && !(isBlocked | async)" class="navbar-nav ml-auto">
            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/test-data">Create Snippet</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/test-data-list">Snippets List</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/my-snippets">My Snippets </a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-item nav-link disabled cursor" (click)='logOut()'><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li> 
            <div class="dropdown">
              <button class="btn btn-success dropbtn" *ngIf="user && isAdmin | async">Administrator
                <i class="fas fa-arrow-circle-down"></i>
              </button>
              <div class="dropdown-content">
                <a routerLink="/admin-panel" >Update Users</a>
                <a routerLink="/admin-snippets">Update Snippets</a>
              </div>
            </div>
          </ul>
      </div>
</nav>


