<div class="container-fluid p-0">
    <div class="img p-0">
        <div class="d-flex justify-content-center m-auto p-0">
            <div class="col-md-9 flex-column p-0">
                <h4 class="text-center mb-4">Create Your Snippet</h4>
                <form #dataForm="ngForm" (ngSubmit)="createSnippet()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" name="title" #title="ngModel" ngModel placeholder="Title..." required/>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="programmL" #programmL="ngModel" ngModel placeholder="Choose language..." required>
                                    <option value="" selected disabled>Choose language...</option>
                                    <option>C</option>
                                    <option>C#</option>
                                    <option>C++</option>
                                    <option>CSS</option>
                                    <option>CSV</option>
                                    <option>Clojure</option>
                                    <option>CoffeeScript</option>
                                    <option>ColdFusion</option>
                                    <option>Crystal</option>
                                    <option>Cypher</option>
                                    <option>D</option>
                                    <option>Dart</option>
                                    <option>Diff</option>
                                    <option>Docker</option>
                                    <option>Erlang</option>
                                    <option>F#</option>
                                    <option>Fortran</option>
                                    <option>Gherkin</option>
                                    <option>Go</option>
                                    <option>Groovy</option>
                                    <option>HTML</option>
                                    <option>Handlebars</option>
                                    <option>Haskell</option>
                                    <option>Haxe</option>
                                    <option>Java</option>
                                    <option>JavaScript</option>
                                    <option>Julia</option>
                                    <option>Kotlin</option>
                                    <option>LaTeX</option>
                                    <option>Lisp</option>
                                    <option>Lua</option>
                                    <option>MATLAB</option>
                                    <option>MUMPS</option>
                                    <option>Markdown</option>
                                    <option>OCaml</option>
                                    <option>Objective-C</option>
                                    <option>PHP</option>
                                    <option>Pascal</option>
                                    <option>Perl</option>
                                    <option>Pig</option>
                                    <option>Post</option>
                                    <option>PowerShell</option>
                                    <option>Puppet</option>
                                    <option>Python</option>
                                    <option>R</option>
                                    <option>Ruby</option>
                                    <option>Rust</option>
                                    <option>SQL</option>
                                    <option>Sass</option>
                                    <option>Scala</option>
                                    <option>Scheme</option>
                                    <option>Shell</option>
                                    <option>Smalltalk</option>
                                    <option>Swift</option>
                                    <option>TSV</option>
                                    <option>TypeScript</option>
                                    <option>VB.NET</option>
                                    <option>VBScript</option>
                                    <option>Velocity</option>
                                    <option>Verilog</option>
                                    <option>XML</option>
                                    <option>YAML</option>
                                    <option>Undefined</option>
                                </select>
                            </div>
                            <div class="form-group pt-2">
                                <textarea class="form-control" name="notes" #notes="ngModel" ngModel placeholder="Notes..." rows="5"></textarea>
                            </div>
                            <div class="form-check form-check-inline check-style">
                                <input (click)="isDataPrivate(false)" class="form-check-input" type="radio" name="isPrivate" id="inlineRadio1" value="false" #isPrivate="ngModel" ngModel>
                                <label class="form-check-label" for="inlineRadio1">Public snippet</label>
                            </div>
                            <div class="form-check form-check-inline check-style">
                                <input (click)="isDataPrivate(true)" class="form-check-input" type="radio" name="isPrivate" id="inlineRadio2" value="true" #isPrivate="ngModel" ngModel>
                                <label class="form-check-label" for="inlineRadio2">Private snippet</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" name="code" #code="ngModel" ngModel placeholder="Code" rows="10" required></textarea>
                            </div>
                        </div>
                        <div class="form-group mx-auto bottom-margin">
                            <button type="submit" class="btn btn-success mx-4" [disabled]="!dataForm.valid">Submit</button>
                            <button class="btn btn-danger mx-4" (click)="resetForm()">Reset</button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>

