.img {
  background: url("assets/img/bg-image.jpg") center center no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  z-index: -1;
}

h4 {
    margin-top: 20vh;
    color:rgba(220, 233, 235, 1);
}

input.ng-invalid.ng-dirty {
    border: 1px solid red;
}

.check-style {
  color:rgba(220, 233, 235, 1);
  padding-bottom: 2%;
}

.bottom-margin {
  margin-bottom: 25vh;
}
