* {
  /* So 100% means 100% */
  box-sizing: border-box;
}

.img {
  height: calc(100vh - 209px); 
  z-index: -1;
}

.paragraph-style {
  width: 50%;
  color: rgba(220, 233, 235, 1);
  font-size: 28px;
  background-color: #08110c;
  opacity: 0.92;
  border: 1px solid rgba(220, 233, 235, 1);
  border-radius: 10px;
}

.admin-demo {
  font-weight: 400;
  font-size: 14px;
}

.login-design {
  background-color: #08110c;
  opacity: 0.92;
  border-radius: 10px;
  border: 1px solid rgba(220, 233, 235, 1);
}
