<div class="row align-items-center justify-content-center img">
  <div class="d-lg-flex flex-column paragraph-style p-4">
    <p class="text-center">If you have an account</p>
    <div class="container-lg">
      <button class="btn-lg btn-success d-block mx-auto" [routerLink]="['/login']">Login</button>
    </div>
    <p class="text-center">If you don't have an account</p>
    <div class="container-lg">
      <button class="btn-lg btn-success d-block mx-auto" [routerLink]="['/register']">Sign up</button>
    </div>
    <p class="text-center admin-demo">For admin-demo username: admin, password: admin1234</p>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-6 login-design py-4" *ngIf="isBlocked | async">
      <h3 class="text-center"  style="color: #dc3545" *ngIf="isBlocked | async">
        Your account is blocked because of inappropriate content of your snippet!
      </h3>
    </div>
  </div>
</div>


